<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haibin.mapper.UserMapper">

    <insert id="add" parameterType="string">
        update user
        set username = #{username}
        where id = 3
    </insert>
    <insert id="add2">
        update tb_user
        set username = #{required}
        where id = 1
    </insert>
</mapper>